html{
	box-sizing: border-box;
	width:100%;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin:0;
	padding:0;
}

body{
	width:100%;
}

header{
	width:100%;
	float:left;
}

a{
	color:black;
	&:link {
	    text-decoration: none;
	}

	&:visited {
	    text-decoration: none;
	}

	&:hover {
	    text-decoration: none;
	}

	&:active {
	    text-decoration: none;
	}
}

ul{
	list-style:none;
}

footer{
	width:100%;
	margin-top:25%;
	padding: 10px;
}