$headColor: #3CB371;


.l-header{
	background:$headColor;
	padding-top:5%;
	margin-bottom: 30px;
	@media screen and (min-width:715px){
		padding-top: 0;
	}
}

.l-gallery{
	width:90%;
	margin:0 auto;
	padding-top: 20px;
	&-sites{
		width:100%;
		margin:0 auto;
		display: -ms-flex;
		display:flex;
		-ms-flex-direction:column;
		flex-direction:column;
		-ms-justify-content:center;
		justify-content:center;
		@media screen and (min-width:620px){
			-ms-direction:row;
			flex-direction:row;
			-ms-flex-wrap:wrap;
			flex-wrap:wrap;
		}
	}
}

.l-contact{
	width:60%;
	margin:0 auto;
	padding: 200px 0 30px;
	font-size: 1.5em; //24px 
}

.l-about{
	@extend .l-contact;
	@media screen and (min-width:715px){
		width:80%;
		font-size: 1.5em; //24px
	}
}