

.m-logo{
	text-align: center;
	@media screen and (min-width:715px){
		float:left;
	    margin-right:5%;
	    text-align: left;
	    width: 45%;
	}
}

.m-navi{
	text-align: center;
	width:100%;
	background: #90EE90;
	@media screen and (min-width:715px){
		background:none;
		float: right;
	    font-size:1.125em;
	    margin-right: 5%;
	    text-align: right;
	    width:45%;
	}
	ul{
		margin:0 10px;
  		padding:0;
  		li{
  			display:inline-block;
  			margin:20px;
  		}
	}
}

.m-site{
	margin:35px;
}

.m-socialicon{
	width:50px;
	height:50px;
	margin:0 2px;
}

.m-foot{
	width:50%;
	margin:0 auto;
	text-align: center;
	font-sizs: 0.75em; /* 1.2px / 16px */
}